# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local Environment / Tooling
.env
pip/
python/
26.1.1/
.idea/
.vscode/

# Project specific
dataset/
backend_error.log
test_load.py
test_gemini.py
available_models.txt

# Models
# Un-comment the line below if you use Git LFS or external storage
# model/plant_disease_model.h5

# OS files
.DS_Store
Thumbs.db
